.home::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 5%;
  width: 200px;
  height: 200px;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='%23556677' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpolyline points='12 6 12 12 16 14'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.05;
  z-index: 0;
  pointer-events: none;
}

.home {
  position: relative; /* necessário para o ::before funcionar */
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 2rem;
  padding: 0 20px;
  height: 100vh;
  background: linear-gradient(145deg, #0e1e2a, #1e2f3b);
  z-index: 1;
}


.home-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 0.5rem; 
  justify-content: center;
  justify-items: center;     
  max-width: 700px;
}

.home-text h1 {
  color: #F5F2EA;
  font-size: clamp(2rem, 6vw, 4rem);
  text-align: center;
  max-width: 23ch; /* controla o comprimento do título */
  margin: 0 auto; /* centraliza o h1 */
  font-weight: 300;
  letter-spacing: 1px
}


.home-text p{
  color: #f5f2e878;
  text-align: center;
  padding-top: 52px;
  font-size: clamp(1rem, 5vw, 1.5rem);
  max-width: 51ch;
  margin-bottom: 25px;
}

.home-image img {
  width: clamp(200px, 43vw, 700px);
  height: auto;   
  display: block; 
    justify-content: center;
    max-width: 600px; 
}

.btnGroup {
    display: flex;
    gap: 1rem;                 
    justify-content: center;   
}

.btnGroup button{
  color: white;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-comprar{
    background: #F8A827;
}

.btn-comprar:hover {
  color: #F5F2EA;
  font-size: 1.4rem;
  background-color: #EA580C;
  transform: scale(1.03);
}


.btn-leiaMais{
    background: #26BA7B;
}

.btn-leiaMais:hover {
   color: #F5F2EA;
   font-size: 1.4rem;
  background-color: #10b9819d;
  transform: scale(1.03);
}


@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;         
    padding: 20px;
    height: auto;                    
    justify-items: center;              
  }

  .home-image {
    display: none;                     
  }

  .home-text {
    margin: 0 auto;
    padding: 40px 0;
    align-items: center;
    text-align: center;
  }

  .home-text h1 {
    font-size: clamp(2rem, 8vw, 3.5rem);
    max-width: 100%;
  }

  .home-text p {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    padding-top: 24px;
    
    margin-bottom: 20px;
  }

 .btnGroup {
  flex-direction: row; 
  flex-wrap: wrap;     
  justify-content: center;
  gap: 1rem;
}

  .btnGroup button {
    width: 100%;
    max-width: 280px;
  }
}
